header, h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;

}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #777777;
}

a {
    color: #777777;
    text-decoration: none;
}

.space {
    word-spacing: 30px;
}

p.b {
    font-size: 10px;
    color: #ffffff;
    position: relative;
    top: 70px;
}

p.c {
    padding: 0;
    margin-top: 0;
}

div {
    clear: right;
}

body {
    margin: 0;
    display: flex;
}

.page {
    width: 100%;
    background-color: #ffffff;
    line-height: 1.5;
}

header {
    width: 100%; 
    background-color: #ffffff;
    height: 90px;
    border-bottom: #cccccc solid 2px;
    margin: auto;
}

.header-content {
    margin: auto; 
    width: 960px;
}

.left-header {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 100%;
    padding: 0 30px;
}

.right-header {
    float: right;
    padding: 30px 0;
}

.content-background {
    height: 650px;
    padding: 0 20px;
}

.content {
    background-color: #ffffff;
    height: 500px;
    max-width: 920px;
    width: 100%;
    padding: 20px;
    border: #dddddd solid 1.5px;
    margin: auto; 
    position: relative;
    top: 25px;
    overflow: hidden;
}


.top-content {
    max-height: 100px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

img {
    padding: 0 30px 0 0;
}

.middle-content {
    display: flex;
    text-align: justify;
    overflow: auto;
    max-height: 220px;
    padding-top: 20px;
    border-top: #dddddd solid 2px;
}

.bottom-content {
    display: flex;
    max-height: 170px;
    overflow: auto;
    text-align: justify;
}

.form {
    width: 100%;
    padding-top: 20px;
    border-top: #dddddd solid 2px;
 }

 .input-box {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #777777
 }

 .extended-background {
     height: 900px;
     padding: 0 20px;
 }

 .extended-content {
    height: 600px;
 }

 .extended-content2 {
     height: 800px;
 }

 button {
     margin: 10px 0;
     background: #4aaaa5;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     font-size: 16px;
     color: #ffffff;
 }

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    border-top: #dddddd solid 2px;
    max-height: 400px;
    padding-top: 20px;
}

.img-contain {
    width: 250px;
    height: 175px;
    margin: 20px;
}

.labels {
    position: relative;
    
}

.labels-div {
    position: absolute;
    bottom: 40px;
    width: 230px;
    padding: 10px;
    margin: 0 20px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

 footer {
    border-top: #4aaaa5 solid 5px;
    height: 100px;
    background-color: #666666;
    text-align: center;
    position: relative;
}

